*{
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: 'Lato', sans-serif;
    user-select: none;
}
body{
    background-color: #E9E9EC;
}
.project_card{
    margin: auto;
    width: 293px;
    height: 401px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    display: grid;
    grid-template: repeat(7, auto)/ 1fr;
    gap: 5px;
}
.project_name{
    line-height: 22px;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #3E3934;
    align-self: end;
}
.project_date{
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #9F9C9A;
}
.order{
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #9F9C9A;
    padding-bottom: 15px;
    border-bottom: 1px solid #E9E9EC;
    align-self: end;
}
.order_status{
    font-size: 12px;
    color: #0096D7;
    cursor: pointer;
}
.avatar{
    position: relative;
    align-self: center;
    cursor: pointer;
}
.avatar_img{
    width: 36px;
    height: 36px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 115px;
    border: 1px solid #E9E9EC;
}
.avatar_img:hover{
    border: 1px solid #0096D7;
}
.avatar_notification{
    width: 14px;
    height: 14px;
    background: #FF4444;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    left: 155px;
}
.order_response, .order_response span{
    line-height: 18px;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #9F9C9A;
    width: 80%;
    max-height: 160px;
    justify-self: center;
    overflow: scroll;
    align-self: center;
}
.button_see_proposal{
    background: #0096D7;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    line-height: 24px;
    font-size: 14px;
    letter-spacing: -0.01em;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    height: 40px;
    width: 54%;
    align-self: center;
    justify-self: center;
    outline: none;
    cursor: pointer;
}
.button_see_proposal span{
    font-size: 14px;
    color: #FFFFFF;
}
.new_request{
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #0096D7;
    text-decoration: none;
}
